---
import Layout from "@/layouts/Layout.astro";
import HeaderDos from "@/components/HeaderDos.astro";
import Footer from "@/components/Footer.astro";
import ServicesDos from "@/components/ServicesDos.astro";
import { servicios } from "@/constants/servicios";
---

<Layout
  title="Howard Gardner | Nuestros Servicios"
  description="Es un jardín de educación infantil"
>
  <HeaderDos
    title="Nuestros Servicios"
    subtitle="Servicios que inspiran confianza y bienestar"
    description="En nuestro jardín ofrecemos servicios complementarios que enriquecen la formación y el bienestar de los niños, contamos con un equipo de acompañamiento profesional en psicologia y nutrición, asi como con un programa de inglés intensivo diseñado para que los niños adquieran el idioma de forma natural, a través del juego y la música. Brindamos a los padres la tranquilidad de observar a sus hijos, a través de un sistema seguro y privado de transmisión en vivo."
    bgimg="/img/bg/headerPrimary.webp"
    left
    phone
  />
  <main>
    {
      servicios.map((servicio, index) => {
        return (
          <ServicesDos
            id={servicio.id}
            title={servicio.titleServicios}
            subtitle={servicio.subtitleServicios}
            description={servicio.descripServicios}
            img={servicio.imgServicios}
            icon1={servicio.icon1Servicios}
            icon2={servicio.icon2Servicios}
            left={servicio.left}
            bg={servicio.bg}
            bg2={servicio.bg2}
          />
        );
      })
    }
  </main>

  <Footer />
</Layout>
